<link rel="stylesheet" href="/css/_header.css">

<header>
    <!-- Show this if the user is logged in -->
    <% if (locals.user) { %>
    <div class="user">
        <img src="/images/profile.png" alt="Avatar">
        <div class="user-info">
            <h3><%= user.name %></h3>
            <a href="/users/profile/<%= user._id %>">Profile <i class="fa-solid fa-up-right-from-square"></i></a>
            <a href="/users/sign-out">Logout <i class="fa-solid fa-up-right-from-square"></i></a> 
        </div>  
    </div>
    <% }else { %>
    <!-- Show this if the user is not logged in -->
    <div class="login-options">
        <a href="/users/sign-in">Sign in</a>
        <a href="/users/sign-up">
            Sign Up
        </a>
    </div>
    <% } %>
    <a href="/" id="home">Home</a>
</header>
