<link rel="stylesheet" href="/css/_header.css">

<header>
    <h1>Testify</h1>
    <!-- Show this if the user is logged in -->
    <!-- <div class="user">
        <div class="user-info">
            <h3>Karanveer Singh</h3>
            <p>QA Lead</p>
        </div>
        <img src="/images/profile.png" alt="">
    </div> -->
    <!-- Show this if the user is not logged in -->
    <div class="login-options">
        <a href="/users/sign-in">Sign in</a>
        <a href="/users/sign-up">
            Sign Up
        </a>
    </div>
</header>