<link rel="stylesheet" href="/css/create_issue.css">

<main>
    <div class="wrapper">
        <form action="/issue/create/<%= project_id %>" method="post">
            <h2>Create An Issue</h2>
            <input type="text" placeholder="Issue's Title" name="title" required>
            <textarea name="description" id="description" cols="50" rows="5" placeholder="Description.." required></textarea>
            <input type="text" placeholder="Labels.." name="labels" id="labels" required>
            <input type="text" value="Author - <%= locals.user.name %>" placeholder="Author" disabled>
            <button type="submit" class="btn">Create</button>
        </form>
    </div>
</main>