<link rel="stylesheet" href="/css/home.css">
<main>
    <div class="project-heading">
        <h2>Projects</h2>
        <a href="/projects" id="create-project">
            <i class="fa-regular fa-pen-to-square"></i>
            Create Project
        </a>
    </div>
    <div class="projects">
        <div class="card">
            <div class="info">
                <h3 class="name">
                    Project
                    <a href="/projects/">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </h3>
                <p class="desc">Some description long enough to check if the ellipsis is working or not.</p>
            </div>
            <div class="issue-count-author-container">
                <p class="total-issues">
                    Issues: <span>25</span>
                </p>
                <div class="author">
                    <img src="/images/profile.png" alt="Profile">
                    <p class="author-name">
                        Karanveer Singh
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>