<link rel="stylesheet" href="/css/users_sign_up.css">

<main>    
    <div class="wrapper">
        <form action="/users/create/" method="post">
            <h1>Sign Up</h1>
            <div class="input-box">
                <input type="name" name= "name" placeholder="Full Name" required>
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="input-box">
                <input type="email" placeholder="Email" name="email" required>
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" name="password" required>
                <i class="fa-solid fa-lock"></i>
            </div>
            <button type="submit" class="btn">Sign Up</button>
            <a href="/users/auth/github" class="btn btn-2">
                <i class="fa-brands fa-github"></i>Sign Up with Github
            </a>
            <div class="register-link">
                <p>Already have an account?
                    <a href="/users/sign-in">Login here.</a>
                </p>
            </div>
        </form>
    </div>
</main>