<link rel="stylesheet" href="/css/user_profile.css">

<main>
    <form action="/users/update/<%= locals.user._id %>" method="post">
        <div class="wrapper">
            <h2>Update Profile</h2>
                <input type="text" name="name" placeholder="Full Name" value="<%= locals.user.name %>">
                <input type="email" name="email" placeholder="Email" value="<%= locals.user.email%>">
                <input type="password" name="password" placeholder="Password" value="<%= locals.user.password %>">
                <button type="submit" class="btn">Update</button>
        </div>
    </form>
</main>