main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(23, 66, 88, 0.15);
  padding: 20px;
  gap: 70px; }
  main .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    color: #f87f8d; }
    main .header h2 p {
      margin-top: 5px;
      font-size: 14px;
      max-width: 250px;
      color: #f87f8d;
      font-weight: 500; }
    main .header .options {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: 20px; }
      main .header .options input {
        border: 2px solid #f87f8d;
        outline: none;
        font-size: 14px;
        border-radius: 4px;
        padding: 5px 10px; }
        main .header .options input::placeholder {
          color: #f87f8d; }
      main .header .options .dropdown {
        border: 2px solid #f87f8d;
        border-radius: 4px;
        position: relative;
        display: inline-block; }
        main .header .options .dropdown:hover .dropdown-content {
          display: block; }
        main .header .options .dropdown .dropbtn {
          width: 100%;
          background-color: #fff;
          color: #f87f8d;
          padding: 10px;
          font-size: 16px;
          border: none; }
        main .header .options .dropdown .dropdown-content {
          display: none;
          position: absolute;
          left: -50px;
          top: 102%;
          padding: 10px;
          background-color: #f1f1f1;
          min-height: 80px;
          z-index: 1;
          border-radius: 8px;
          width: 170px;
          overflow-x: hidden;
          max-height: 160px;
          overflow-y: scroll; }
          main .header .options .dropdown .dropdown-content ul {
            list-style: none; }
            main .header .options .dropdown .dropdown-content ul h3 {
              padding: 5px; }
          main .header .options .dropdown .dropdown-content .filter {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 10px;
            cursor: pointer;
            font-size: 16px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
            main .header .options .dropdown .dropdown-content .filter:hover input ~ .checkmark {
              background-color: #ccc; }
            main .header .options .dropdown .dropdown-content .filter input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0; }
              main .header .options .dropdown .dropdown-content .filter input:checked ~ .checkmark {
                background-color: #f87f8d; }
                main .header .options .dropdown .dropdown-content .filter input:checked ~ .checkmark::after {
                  display: block; }
            main .header .options .dropdown .dropdown-content .filter .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              height: 25px;
              width: 25px;
              background-color: #fff;
              border-radius: 4px; }
              main .header .options .dropdown .dropdown-content .filter .checkmark::after {
                content: "";
                position: absolute;
                display: none;
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid #fff;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      main .header .options #create-issue {
        padding: 0.6rem 1rem;
        border: 2px solid #f87f8d;
        border-radius: 4px;
        color: #f87f8d; }
        main .header .options #create-issue i {
          color: #f87f8d; }
  main .issues {
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #666666;
    position: relative;
    overflow: scroll; }
    main .issues::-webkit-scrollbar {
      display: none; }
    main .issues .no-issues-text {
      position: absolute;
      font-size: 1.5rem;
      left: 42%;
      top: 45%; }
    main .issues table {
      width: 100%; }
      main .issues table tr {
        box-shadow: 0px 3px 0px #ccc;
        border-radius: 3px; }
        main .issues table tr td {
          width: 25%;
          padding: 10px; }
          main .issues table tr td .description {
            display: block;
            display: -webkit-box;
            max-width: 150px;
            height: 20px;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis; }
        main .issues table tr .bug-title div {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center; }
          main .issues table tr .bug-title div a.delete-bug {
            margin-left: auto;
            margin-right: 30%; }
          main .issues table tr .bug-title div a {
            color: #666666; }
            main .issues table tr .bug-title div a:hover {
              color: #f87f8d; }
        main .issues table tr .labels p {
          display: block;
          display: -webkit-box;
          max-width: 150px;
          height: 20px;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis; }
